@tailwind base;
@tailwind components;
@tailwind utilities;



  @font-face {
    font-family:netflix-ash;
    src: url(./assets/Font/GrapeNuts-Regular.ttf);

    font-family: netflix-bold;
    src :url(./assets/Font/NetflixSans-Bold.otf);
    font-family : ash-test;
    src:url(./assets/Font/GrapeNuts-Regular.ttf)
  }


  body {
    font-family: netflix-ash;
    background-color: black;
  }