@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    font-family: Lato,"netflix-ash",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
@font-face {
    font-family: "netflix-ash";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("../src/assets/Font/NetflixSans-Light.otf") format("truetype");
  }